* {
    box-sizing: border-box;
    touch-action: manipulation;
}

body {
    margin: unset;
    font-family: "SF Pro Text", -apple-system, sans-serif;

}

.headerLogo {
    --size: 100px;
    --margin: 20px;
    --filter: brightness(1.2) saturate(150%) blur(35px);
    -webkit-backdrop-filter: var(--filter);
    backdrop-filter: var(--filter);
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 2019;
    position: fixed;
    left: var(--margin);
    top: var(--margin);
}

.headerLogo:after {
    content: ' ';
    background-image: url('https://ponomarev.studio/images/logo/Gradient.128px.png');
    position: absolute;
    opacity: 0;
    transition: opacity .5s;
}

.headerLogo,
.headerLogo:after {
    -webkit-mask-image: urL('https://ponomarev.studio/images/logo/Mono.svg');
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: var(--size);
    height: calc(var(--size) / 2);
}

.headerLogo:hover:after,
.headerLogo:focus:after {
    opacity: 1;
}

.headerLogo:active {
    transform: scale(.9);
}

.headerMenu {
    transition: box-shadow .4s ease-out;
    position: fixed;
    bottom: 0;
    width: calc(100% - 40px);
    margin: 40px 20px;
    padding: unset;
    border-radius: 20px;
    z-index: 1000;
    box-shadow: 0 5px 20px 5px rgba(95, 92, 92, .2);
}

.headerMenu:before {
    transition: background .4s ease-out;
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: brightness(1.2) saturate(150%) blur(35px);
    -webkit-backdrop-filter: brightness(1.2) saturate(150%) blur(35px);
}

.headerMenu:target:before {
    transition: background .3s ease-in;
    background: rgba(255, 255, 255, 0.4);
}

#toggleMenu {
    display: none;
}

.menuBar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    overflow: hidden;
}

.menuContent {
    transition: all .3s ease-out;
    display: flex;
    overflow: hidden;
    width: 100%;
    max-height: 0;
    padding: 0 20px;
    flex-direction: column;
    border-bottom: solid 1px transparent;
}

.menuContent > a {
    color: inherit;
    text-decoration: none;
    line-height: 2.5em;
}

.menuContent > a:first-child {
    margin-top: 20px;
}

.menuContent > a:last-child {
    margin-bottom: 20px;
}

#toggleMenu:checked ~ .headerMenu {
    transition: box-shadow .3s ease-in;
    box-shadow: 0 5px 40px 10px rgba(0, 0, 0, 0.3);
}

#toggleMenu:checked ~ .headerMenu > .menuContent {
    transition: all .5s ease-in;
    max-height: 500px;
    border-bottom: solid 1px rgba(50, 50, 50, 0.1);
}

.menuItem {
    transition: transform .2s .2s ease-out, opacity .1s .3s ease-out;
    height: 50px;
    /*margin: 0 5px;*/
    line-height: 50px;
    text-align: center;
    color: inherit;
    text-decoration: none;
}

#toggleMenu:checked ~ .headerMenu .menuItem {
    transition: transform .2s ease-out, opacity .1s ease-in;
    opacity: 0;
    transform: translate(0, -50px);
    pointer-events: none;
}

.openMenu {
    display: flex;
    color: rgba(0, 0, 0, .8);
    height: 100%;
    width: 60px;
    /*line-height: 50px;*/
    text-align: center;
    font-size: 0;
    text-decoration: none;
    flex-direction: column;
    justify-content: space-around;
    padding: 18px 20px;
    margin-right: -20px;
}

.openMenu:before,
.openMenu:after {
    transition: transform .4s ease-out;
    content: '';
    display: block;
    width: 100%;
    height: 1.5px;
    border-radius: 1px;
    background-color: rgba(0, 0, 0, .8);
}

#toggleMenu:checked ~ .headerMenu .openMenu {
    pointer-events: none;
}

#toggleMenu:checked ~ .headerMenu .openMenu:before,
#toggleMenu:checked ~ .headerMenu .openMenu:after {
    transition: transform .3s ease-in;
}

#toggleMenu:checked ~ .headerMenu .openMenu:before {
    /*transition: transform .3s;*/
    transform: translate(0, 4.25px) rotate(45deg);
}

#toggleMenu:checked ~ .headerMenu .openMenu:after {
    /*transition: transform .3s;*/
    transform: translate(0, -4.25px) rotate(-45deg);
}

.closeMenu {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 50px;
    font-size: 0;
}

.openMenu, .closeMenu {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

#toggleMenu:checked ~ .headerMenu .closeMenu {
    display: block;
}

.sendMessage {
    display: block;
    height: 100%;
    width: 60px;
    font-size: 0;
    background-image: url("../../images/comment.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    opacity: .8;
    margin-left: -20px;
}

main > div {
    position: absolute;
    width: 100%;
    height: 200vh;
    z-index: var(--slide-number);
    top: calc(var(--slide-number) * 100vh);
}

main > div:last-child {
    height: 100vh;
}

main > div > section {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
}

.cover {
    /*width: 100%;*/
    /*height: 100vh;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../../images/logo/Gradient.png');
    background-color: #444E8D;
    color: white;
}

.portfolioItem {
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-color: white;

    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 80px;
}

.img-slider {
    margin: 0 -20px;
    margin-top: 20px;
}

.img-slider,
.img-slider > div {
    box-sizing: border-box;
    width: 100vw;
}

.img-slider > div {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.img-slider img {
    height: 100vw;
    min-width: 100vw;
    scroll-snap-align: center;
    object-fit: contain;
    object-position: top;
}

footer {
    height: 50vh;
}