* {
    box-sizing: border-box;
    touch-action: manipulation;
}

body {
    margin: unset;
    font-family: "SF Pro Text", -apple-system, sans-serif;

}

.headerLogo {
    --size: 100px;
    --margin: 20px;
    --filter: brightness(1.2) saturate(150%) blur(35px);
    -webkit-backdrop-filter: var(--filter);
    backdrop-filter: var(--filter);
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 2019;
    position: fixed;
    left: var(--margin);
    top: var(--margin);
}

.headerLogo:after {
    content: ' ';
    background-image: url('https://ponomarev.studio/images/logo/Gradient.128px.png');
    position: absolute;
    opacity: 0;
    transition: opacity .5s;
}

.headerLogo,
.headerLogo:after {
    -webkit-mask-image: urL('https://ponomarev.studio/images/logo/Mono.svg');
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: var(--size);
    height: calc(var(--size) / 2);
}

.headerLogo:hover:after,
.headerLogo:focus:after {
    opacity: 1;
}

.headerLogo:active {
    transform: scale(.9);
}

.headerMenu {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: 50px;
    width: calc(100% - 40px);
    margin: 40px 20px;
    padding: unset;
    border-radius: 20px;
    box-shadow: 0 5px 20px 5px rgba(95, 92, 92, .2);
}

.headerMenu:before {
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: brightness(1.2) saturate(150%) blur(35px);
    -webkit-backdrop-filter: brightness(1.2) saturate(150%) blur(35px);
}

.toggleMenu {
    display: flex;
    color: rgba(0, 0, 0, .8);
    height: 100%;
    width: 50px;
    /*line-height: 50px;*/
    text-align: center;
    font-size: 0;
    text-decoration: none;
    flex-direction: column;
    justify-content: space-around;
    padding: 18px 15px;
    margin: 0 5px;
}

.toggleMenu:before,
.toggleMenu:after {
    content: '';
    display: block;
    width: 100%;
    height: 1.5px;
    border-radius: 1px;
    background-color: rgba(0, 0, 0, .8);
}

.sendMessage {
    display: block;
    height: 100%;
    width: 50px;
    font-size: 0;
    background-image: url("../../images/comment.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    opacity: .8;
    margin: 0 5px;
}

.cover {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../../images/logo/Gradient.png');
    background-color: #444E8D;
    color: white;
}

.portfolioItem {
    width: 100%;
    height: 100vw;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}

footer {
    height: 50vh;
}