:root {
    overflow-x: hidden;
}

:root:before {
    background-size: 100% 100%;
}

.headerMenu {
    bottom: unset;
    left: unset;
    /*top: 20px;*/
    right: 0;
    margin: 20px 20px;
    width: 320px;
    display: flex;
    flex-direction: column-reverse;
}

.closeMenu {
    bottom: unset;
    top: 0;
}

#toggleMenu:checked ~ .headerMenu .menuItem {
    transform: translate(0, 50px);

}

.menuContent {
    border-top: solid 1px transparent;
    border-bottom: unset;
}

#toggleMenu:checked ~ .headerMenu > .menuContent {
    border-top: solid 1px rgba(50, 50, 50, 0.1);
    border-bottom: unset;
}

main > div:last-child > section {
    height: 100vh;
}

.cover {
    padding: 100px;
}

.cover h1 {
    font-size: 130px;
    font-weight: 800;
    max-width: 1000px;
}

.cover > ul {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: calc(100% - 200px);
    bottom: 100px;
}

.cover > ul > li {
    --size: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    height: var(--size);
    width: var(--size);
    line-height: initial;
    transition: all .5s;
}

.cover > ul > li:hover {
    box-shadow: 0 0 50px 5px rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(100px) saturate(1.3);
    backdrop-filter: blur(100px);
    transition: all .5s;
}

.cover > ul > li:before {
    font-size: 60px;
    line-height: initial;
    margin-top: -10px;
}

.cover > ul > li.ext-left-margin-15:before {
    margin-left: -15px;
}

.cover > ul > li.ext-left-margin-5:before {
    margin-left: -5px;
}

.serviceMessage {
    position: absolute;
    bottom: 50px;
}

.portfolioItem {
    transform: unset;
    height: 100vh;
    border-radius: unset;
}

.portfolioItem:before,
.portfolioItem:after {
    content: none;
}

.portfolioItemText {
    position: absolute;
    bottom: 50px;
    left: 50px;

    box-shadow: 0 5px 20px 5px rgba(95, 92, 92, .2);
    border-radius: 20px;
    padding: 30px;
    width: 400px;
}

.portfolioItemText:before {
    transition: background .4s ease-out;
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: brightness(1.2) saturate(150%) blur(20px);
    -webkit-backdrop-filter: brightness(1.2) saturate(150%) blur(20px);
}

.portfolioItemText > *:first-child {
    margin-top: unset;
}

.portfolioItemText * {
    font-size: 20px;
}

.portfolioItemText h3 {
    font-size: 30px;
}

.img-slider {
    z-index: -2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: unset;
}

.img-slider,
.img-slider > div {
    height: 100%;
}

.img-slider img {
    height: 100%;
    object-fit: cover;
    object-position: top center;
}